body {
  background: rgb(229, 235, 240);
  font-family: sans-serif;
}

h1 {
  text-align: center;
  font-size: 46px;
  margin: 6px 0 18px;
}
h2 {
  margin: 0 0 5px;
  font-weight: bold;
  font-size: 28px;
}
select {
  font-size: 20px;
  padding: 8px;
  width: 100%;
  display: block;
  margin: 0 auto;
}
.container {
  max-width: 500px;
  background: rgb(252, 250, 250);
  display: block;

  border-radius: 6px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 30px;
  margin: 60px auto;
}
.city {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 10px 0;
  border-bottom: 1px dashed grey;
}
.city:last-child {
  border: none;
}
.time {
  font-size: 42px;
  font-weight: bold;
}
.time small {
  font-size: 15px;
  vertical-align: middle;
}

footer {
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  position: relative;
  bottom: 30px;
}
